<section id="login-register-form">
    <h1 id="login-register-title">Make It Rain!</h1>
    <%= form_for :session do |f| %>
      <table>
      <tr>
        <td><%= f.label "E-mail:  " %></td>
        <td><%= f.text_field :email %></td>
      </tr>
      
      <tr>
        <td><%= f.label "Password:" %></td>
        <td><%= f.password_field :password %></td>
      </tr>

      </table>
      <%= f.label "Remember Me!" %><%= f.check_box :remember_me %>

      <br />

      <%= f.submit "Login" %>
    <% end %>
</section>
