<section class="user-name"><%= m.user.name %></section>
    <section class="post-content"><%= m.content %></section>
    <section class="karma" id=<%= "karma-#{m.id}" %>><%= m.karma %></section>
    <% if logged_in? %>
        <section class="like">
            <%= render 'shared/like_form', action: "like", id: m.id %>
        </section>
        <section class="dislike">
            <%= render 'shared/like_form', action: "dislike", id: m.id %>
        </section>
    <% end %>
</section>