<section id="navbar">
    <%= link_to 'Home ', root_path %>|
    <%= link_to ' Stream ', stream_path %>|
    <%= link_to ' Best of ', best_of_path %>|
    <%= link_to ' Prime League ', prime_league_path %>|

    <% if logged_in? %>
        <% if current_user.admin? %>
            <%= link_to ' Users ', users_path %>|
            <%= link_to ' Confirmation Queue ', confirmation_queue_path %>|
            <%= link_to ' Exiles ', exiles_path %>|
        <% end %>
        <%= link_to ' Profile ', "/profile/#{current_user.id}" %>|
        <%= link_to ' Log out ', logout_path, method: :delete %>
    <% else %>
        <%= link_to ' Log in ', login_path %>|
        <%= link_to ' Register ', register_path %>
    <% end %>
</section>
